<div class="row">
    <div id="carouselTopIndicators" class="carousel slide col-md-12 box" data-ride="carousel" data-interval="7000">
        <ol class="carousel-indicators">
            {{#each slidersTop}}
            <li data-target="#carouselTopIndicators" data-slide-to="{{@index}}"></li>
            {{/each}}
        </ol>
        <div class="carousel-inner">
            {{#each slidersTop}}
            <div class="carousel-item {{#ifCond @index '==' 0}} active {{/ifCond}} ">
                <img class="d-block w-100" src="{{this.file}}" alt="{{this.title}}">
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{!-- <div class="row">
    <div class="col-md-12 box rounded">
        <img src="/assets/img/PII_or_id-04.png" style="height: 100%; width:100%;" alt="">
    </div>
</div> --}}
<div class="row">
    {{#each banner}}
    <div class="col-md box">
        <div class="card card-link rounded-0 border-0 img-hover-zoom" style="height: 300px;">
            <img class="card-img rounded-0 img-fluid" style="object-fit: cover; height: 100%;" src="{{this.file}}" alt="Bologna">
            <div style="margin:12.5%;" class="box card-img-overlay text-white overlayhovers{{#moduloIf @index 2 0}}-middle{{/moduloIf}}">
                <div style="position: absolute; bottom:0;">
                    <h5 class="card-title banner{{#moduloIf @index 2 0}}-middle{{/moduloIf}}">{{this.title}}</h5>
                    <p class="card-text banner">{{this.introText}}</p><br>
                </div>
                <a style="position: absolute; bottom:0;" class="text-white" href="/{{this.status}}/{{this.slug}}"><i>klik di sini</i></a>
                {{!-- <a class="text-white" href="/{{lookup ../dirlink @index}}"><i>Klik disini</i></a> --}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
<div class="row">
    <div class="col-md-12 box img-hover-zoom">
        <a href="http://updmember.pii.or.id/" target="_blank">
            <img src="/assets/img/simponi.PNG" style="height: 100%; width:100%;" alt="">
        </a>
    </div>
</div>
<div class="row">
    <div id="carouselExampleIndicators" class="carousel slide col-md-12 box" data-ride="carousel" data-interval="7000">
        <ol class="carousel-indicators">
            {{#each sliders}}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{@index}}"></li>
            {{/each}}
        </ol>
        <div class="carousel-inner">
            {{#each sliders}}
            <div class="carousel-item {{#ifCond @index '==' 0}} active {{/ifCond}} ">
                <img class="d-block w-100" src="{{this.file}}" alt="{{this.title}}">
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="row">
    {{!-- rubix 1 --}}
    <div id="carouselrubix1Indicators" class="carousel slide col-md-4 box" data-ride="carousel" data-interval="3900">
        <ol class="carousel-indicators">
            {{#each rubix1}}
            <li data-target="#carouselrubix1Indicators" data-slide-to="{{@index}}"></li>
            {{/each}}
        </ol>
        <div class="carousel-inner">
        {{#each rubix1}}
            <div class="carousel-item {{#ifCond @index '==' 0}} active {{/ifCond}} ">
            <a href="/{{this.status}}/{{this.slug}}">
                <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                    <img class="card-img" src="{{this.file}}" style="object-fit: cover; height: 100%;" alt="">
                    <div class="card-img-overlays justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                        <div class="container ml-1">
                            <div class="labeltag-{{this.status}}">
                                <div id="{{this.status}}" ><span class="ml-2 text-white">
                                    {{#ifCond this.category.title '!=' 'Tips'}}
                                        {{this.status}} 
                                    {{/ifCond}}
                                    {{#ifCond this.category.title '==' 'Tips'}}
                                        {{this.category.title}}
                                    {{/ifCond}}
                                    </span></div>
                                {{#ifCond this.category.title '==' 'Video Inovasi'}}
                                    <span>Inovasi by {{this.author}}</span>
                                {{/ifCond}}
                                {{#ifCond this.category.title '==' 'Video Engineering'}}
                                    <span>Engineering For Kids</span>
                                {{/ifCond}}
                                {{#ifCond this.category.title '==' 'Tips'}}
                                    <span> By {{this.author}}</span>
                                {{/ifCond}}
                            </div>
                            <h6 class="card-title {{this.status}}">{{this.title}}</h6>
                            {{#ifCond this.status '==' 'Video'}}
                                {{#ifCond this.sponsor1 '!=' ''}}
                                    {{#ifCond this.sponsor2 '!=' ''}}
                                        <center><p class="text-card-content">Brought to you by</p></center>
                                        <div class="row">
                                            <center>
                                                <img id="sponsor" src="{{this.sponsor1}}" alt="">
                                                <img id="sponsor" src="{{this.sponsor2}}" alt="">
                                            </center>
                                        </div>
                                    {{/ifCond}}
                                {{/ifCond}}
                            {{/ifCond}}
                            {{#ifCond this.status '!=' 'Video'}}
                                <p class="text-card-content">{{this.introText}}</p>
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
            </a>
            </div>
        {{/each}}
        </div>
    </div>
{{!-- rubix 2 --}}
    <div id="carouselrubix2Indicators" class="carousel slide col-md-4 box" data-ride="carousel" data-interval="3900">
        <ol class="carousel-indicators">
            {{#each rubix2}}
            <li data-target="#carouselrubix2Indicators" data-slide-to="{{@index}}"></li>
            {{/each}}
        </ol>
        <div class="carousel-inner">
        {{#each rubix2}}
            <div class="carousel-item {{#ifCond @index '==' 0}} active {{/ifCond}} ">
            <a href="/{{this.status}}/{{this.slug}}">
                <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                    <img class="card-img" src="{{this.file}}" style="object-fit: cover; height: 100%;" alt="">
                    <div class="card-img-overlays justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                        <div class="container ml-1">
                            <div class="labeltag-{{this.status}}">
                                <div id="{{this.status}}" ><span class="ml-2 text-white">
                                    {{#ifCond this.category.title '!=' 'Tips'}}
                                        {{this.status}} 
                                    {{/ifCond}}
                                    {{#ifCond this.category.title '==' 'Tips'}}
                                        {{this.category.title}}
                                    {{/ifCond}}
                                    </span></div>
                                {{#ifCond this.category.title '==' 'Video Inovasi'}}
                                    <span>Inovasi by {{this.author}}</span>
                                {{/ifCond}}
                                {{#ifCond this.category.title '==' 'Video Engineering'}}
                                    <span>Engineering For Kids</span>
                                {{/ifCond}}
                                {{#ifCond this.category.title '==' 'Tips'}}
                                    <span> By {{this.author}}</span>
                                {{/ifCond}}
                            </div>
                            <h6 class="card-title {{this.status}}">{{this.title}}</h6>
                            {{#ifCond this.status '==' 'Video'}}
                                {{#ifCond this.sponsor1 '!=' ''}}
                                    {{#ifCond this.sponsor2 '!=' ''}}
                                        <center><p class="text-card-content">Brought to you by</p></center>
                                        <div class="row">
                                            <center>
                                                <img id="sponsor" src="{{this.sponsor1}}" alt="">
                                                <img id="sponsor" src="{{this.sponsor2}}" alt="">
                                            </center>
                                        </div>
                                    {{/ifCond}}
                                {{/ifCond}}
                            {{/ifCond}}
                            {{#ifCond this.status '!=' 'Video'}}
                                <p class="text-card-content">{{this.introText}}</p>
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
            </a>
            </div>
        {{/each}}
        </div>
    </div>
{{!-- rubix 3 --}}
    <div id="carouselrubix3Indicators" class="carousel slide col-md-4 box" data-ride="carousel" data-interval="3900">
        <ol class="carousel-indicators">
            {{#each rubix3}}
            <li data-target="#carouselrubix3Indicators" data-slide-to="{{@index}}"></li>
            {{/each}}
        </ol>
        <div class="carousel-inner">
        {{#each rubix3}}
            <div class="carousel-item {{#ifCond @index '==' 0}} active {{/ifCond}} ">
            <a href="/{{this.status}}/{{this.slug}}">
                <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                    <img class="card-img" src="{{this.file}}" style="object-fit: cover; height: 100%;" alt="">
                    <div class="card-img-overlays justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                        <div class="container ml-1">
                            <div class="labeltag-Info">
                                <div id="Info" ><span class="ml-2 text-white">
                                    {{#ifCond this.category.title '!=' 'Tips'}}
                                        {{this.status}} 
                                    {{/ifCond}}
                                    {{#ifCond this.category.title '==' 'Tips'}}
                                        {{this.category.title}}
                                    {{/ifCond}}
                                    </span></div>
                                {{#ifCond this.category.title '==' 'Video Inovasi'}}
                                    <span>Inovasi by {{this.author}}</span>
                                {{/ifCond}}
                                {{#ifCond this.category.title '==' 'Video Engineering'}}
                                    <span>Engineering For Kids</span>
                                {{/ifCond}}
                                {{#ifCond this.category.title '==' 'Tips'}}
                                    <span> By {{this.author}}</span>
                                {{/ifCond}}
                            </div>
                            <h6 class="card-title Info">{{this.title}}</h6>
                            {{#ifCond this.status '==' 'Video'}}
                                {{#ifCond this.sponsor1 '!=' ''}}
                                    {{#ifCond this.sponsor2 '!=' ''}}
                                        <center><p class="text-card-content">Brought to you by</p></center>
                                        <div class="row">
                                            <center>
                                                <img id="sponsor" src="{{this.sponsor1}}" alt="">
                                                <img id="sponsor" src="{{this.sponsor2}}" alt="">
                                            </center>
                                        </div>
                                    {{/ifCond}}
                                {{/ifCond}}
                            {{/ifCond}}
                            {{#ifCond this.status '!=' 'Video'}}
                                <p class="text-card-content">{{this.introText}}</p>
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
            </a>
            </div>
        {{/each}}
        </div>
    </div>
</div>
<div class="row">
    {{!-- rubix 4 --}}
    <div id="carouselrubix4Indicators" class="carousel slide col-md-4 box" data-ride="carousel" data-interval="3900">
        <ol class="carousel-indicators">
            {{#each rubix4}}
            <li data-target="#carouselrubix4Indicators" data-slide-to="{{@index}}"></li>
            {{/each}}
        </ol>
        <div class="carousel-inner">
        {{#each rubix4}}
            <div class="carousel-item {{#ifCond @index '==' 0}} active {{/ifCond}} ">
            <a href="/{{this.status}}/{{this.slug}}">
                <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                    <img class="card-img" src="{{this.file}}" style="object-fit: cover; height: 100%;" alt="">
                    <div class="card-img-overlaysright justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                        <div class="container ml-1">
                            <div class="labeltag-{{this.status}}">
                                <div id="{{this.status}}" ><span class="ml-2 text-white">
                                    {{#ifCond this.category.title '!=' 'Tips'}}
                                        {{this.status}} 
                                    {{/ifCond}}
                                    {{#ifCond this.category.title '==' 'Tips'}}
                                        {{this.category.title}}
                                    {{/ifCond}}
                                    </span></div>
                                {{#ifCond this.category.title '==' 'Video Inovasi'}}
                                    <span>Inovasi by {{this.author}}</span>
                                {{/ifCond}}
                                {{#ifCond this.category.title '==' 'Video Engineering'}}
                                    <span>Engineering For Kids</span>
                                {{/ifCond}}
                                {{#ifCond this.category.title '==' 'Tips'}}
                                    <span> By {{this.author}}</span>
                                {{/ifCond}}
                            </div>
                            <h6 class="card-title {{this.status}}">{{this.title}}</h6>
                            {{#ifCond this.status '==' 'Video'}}
                                {{#ifCond this.sponsor1 '!=' ''}}
                                    {{#ifCond this.sponsor2 '!=' ''}}
                                        <center><p class="text-card-content">Brought to you by</p></center>
                                        <div class="row">
                                            <center>
                                                <img id="sponsor" src="{{this.sponsor1}}" alt="">
                                                <img id="sponsor" src="{{this.sponsor2}}" alt="">
                                            </center>
                                        </div>
                                    {{/ifCond}}
                                {{/ifCond}}
                            {{/ifCond}}
                            {{#ifCond this.status '!=' 'Video'}}
                                <p class="text-card-content">{{this.introText}}</p>
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
            </a>
            </div>
        {{/each}}
        </div>
    </div>
{{!-- rubix 5 --}}
    <div id="carouselrubix5Indicators" class="carousel slide col-md-4 box" data-ride="carousel" data-interval="3900">
        <ol class="carousel-indicators">
            {{#each rubix5}}
            <li data-target="#carouselrubix5Indicators" data-slide-to="{{@index}}"></li>
            {{/each}}
        </ol>
        <div class="carousel-inner">
        {{#each rubix5}}
            <div class="carousel-item {{#ifCond @index '==' 0}} active {{/ifCond}} ">
            <a href="/{{this.status}}/{{this.slug}}">
                <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                    <img class="card-img" src="{{this.file}}" style="object-fit: cover; height: 100%;" alt="">
                    <div class="card-img-overlaysright justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                        <div class="container ml-1">
                            <div class="labeltag-Info">
                                <div id="Info" ><span class="ml-2 text-white">
                                    {{#ifCond this.category.title '!=' 'Tips'}}
                                        {{this.status}} 
                                    {{/ifCond}}
                                    {{#ifCond this.category.title '==' 'Tips'}}
                                        {{this.category.title}}
                                    {{/ifCond}}
                                    </span></div>
                                {{#ifCond this.category.title '==' 'Video Inovasi'}}
                                    <span>Inovasi by {{this.author}}</span>
                                {{/ifCond}}
                                {{#ifCond this.category.title '==' 'Video Engineering'}}
                                    <span>Engineering For Kids</span>
                                {{/ifCond}}
                                {{#ifCond this.category.title '==' 'Tips'}}
                                    <span> By {{this.author}}</span>
                                {{/ifCond}}
                            </div>
                            <h6 class="card-title Info">{{this.title}}</h6>
                            {{#ifCond this.status '==' 'Video'}}
                                {{#ifCond this.sponsor1 '!=' ''}}
                                    {{#ifCond this.sponsor2 '!=' ''}}
                                        <center><p class="text-card-content">Brought to you by</p></center>
                                        <div class="row">
                                            <center>
                                                <img id="sponsor" src="{{this.sponsor1}}" alt="">
                                                <img id="sponsor" src="{{this.sponsor2}}" alt="">
                                            </center>
                                        </div>
                                    {{/ifCond}}
                                {{/ifCond}}
                            {{/ifCond}}
                            {{#ifCond this.status '!=' 'Video'}}
                                <p class="text-card-content">{{this.introText}}</p>
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
            </a>
            </div>
        {{/each}}
        </div>
    </div>
{{!-- rubix 6 --}}
    <div id="carouselrubix6Indicators" class="carousel slide col-md-4 box" data-ride="carousel" data-interval="3900">
        <ol class="carousel-indicators">
            {{#each rubix6}}
            <li data-target="#carouselrubix6Indicators" data-slide-to="{{@index}}"></li>
            {{/each}}
        </ol>
        <div class="carousel-inner">
        {{#each rubix6}}
            <div class="carousel-item {{#ifCond @index '==' 0}} active {{/ifCond}} ">
            <a href="/{{this.status}}/{{this.slug}}">
                <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                    <img class="card-img" src="{{this.file}}" style="object-fit: cover; height: 100%;" alt="">
                    <div class="card-img-overlaysright justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                        <div class="container ml-1">
                            <div class="labeltag-{{this.status}}">
                                <div id="{{this.status}}" ><span class="ml-2 text-white">
                                    {{#ifCond this.category.title '!=' 'Tips'}}
                                        {{this.status}} 
                                    {{/ifCond}}
                                    {{#ifCond this.category.title '==' 'Tips'}}
                                        {{this.category.title}}
                                    {{/ifCond}}
                                    </span></div>
                                {{#ifCond this.category.title '==' 'Video Inovasi'}}
                                    <span>Inovasi by {{this.author}}</span>
                                {{/ifCond}}
                                {{#ifCond this.category.title '==' 'Video Engineering'}}
                                    <span>Engineering For Kids</span>
                                {{/ifCond}}
                                {{#ifCond this.category.title '==' 'Tips'}}
                                    <span> By {{this.author}}</span>
                                {{/ifCond}}
                            </div>
                            <h6 class="card-title {{this.status}}">{{this.title}}</h6>
                            {{#ifCond this.status '==' 'Video'}}
                                {{#ifCond this.sponsor1 '!=' ''}}
                                    {{#ifCond this.sponsor2 '!=' ''}}
                                        <center><p class="text-card-content">Brought to you by</p></center>
                                        <div class="row">
                                            <center>
                                                <img id="sponsor" src="{{this.sponsor1}}" alt="">
                                                <img id="sponsor" src="{{this.sponsor2}}" alt="">
                                            </center>
                                        </div>
                                    {{/ifCond}}
                                {{/ifCond}}
                            {{/ifCond}}
                            {{#ifCond this.status '!=' 'Video'}}
                                <p class="text-card-content">{{this.introText}}</p>
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
            </a>
            </div>
        {{/each}}
        </div>
    </div>
</div>
{{!-- old rubix --}}
{{!-- <div class="row">
    {{#each rubix}}
    <div class="col-md-4 box">
        <a href="/{{this.status}}/{{this.slug}}">
            <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                <img class="card-img" src="{{this.file}}" style="object-fit: cover; height: 100%;" alt="">
                <div class="{{#ifCond @index '<' 3}}card-img-overlays{{/ifCond}}
                            {{#ifCond @index '>=' 3}}card-img-overlaysright{{/ifCond}} 
                            justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="container ml-1">
                        <div class="labeltag-{{this.status}}">
                            <div id="{{this.status}}" ><span class="ml-2 text-white">
                                {{#ifCond this.category.title '!=' 'Tips'}}
                                    {{this.status}} 
                                {{/ifCond}}
                                {{#ifCond this.category.title '==' 'Tips'}}
                                    {{this.category.title}}
                                {{/ifCond}}
                                 </span></div>
                            {{#ifCond this.category.title '==' 'Video Inovasi'}}
                                <span>Inovasi by {{this.author}}</span>
                            {{/ifCond}}
                            {{#ifCond this.category.title '==' 'Video Engineering'}}
                                <span>Engineering For Kids</span>
                            {{/ifCond}}
                            {{#ifCond this.category.title '==' 'Tips'}}
                                <span> By {{this.author}}</span>
                            {{/ifCond}}
                        </div>
                        <h6 class="card-title {{this.status}}">{{this.title}}</h6>
                        {{#ifCond this.status '==' 'Video'}}
                            {{#ifCond this.sponsor1 '!=' ''}}
                                {{#ifCond this.sponsor2 '!=' ''}}
                                    <center><p class="text-card-content">Brought to you by</p></center>
                                    <div class="row">
                                        <center>
                                            <img id="sponsor" src="{{this.sponsor1}}" alt="">
                                            <img id="sponsor" src="{{this.sponsor2}}" alt="">
                                        </center>
                                    </div>
                                {{/ifCond}}
                            {{/ifCond}}
                        {{/ifCond}}
                        {{#ifCond this.status '!=' 'Video'}}
                            <p class="text-card-content">{{this.introText}}</p>
                        {{/ifCond}}
                    </div>
                </div>
            </div>
        </a>
    </div>
    {{/each}}
</div> --}}
{{!-- modal Popup --}}
<div class="modal fade" id="initModal" role="dialog">
    <div class="modal-dialog modal-lg">            
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                {{!-- <h4 class="card-title Info">Selamat Datang di Halaman Resmi PII</h4> --}}
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <a href="//{{popp.link}}" target="_blank"><img width="100%" src="{{popp.file}}" alt=""></a>
            </div>
            <div class="modal-footer">
            </div>
        </div>        
    </div>
</div>