<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8 box" style="background-color: #fff;">
        <!-- Blog Post -->
        {{!-- {{#each posts}} --}}
            <img width="100%" src="{{post.file}}" alt="Card image cap">
            <div class="card mb-4">
                <div id="labelbox">
                    <p class="card-text">{{post.status}}</p>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{post.title}}</h1>
                    {{!-- <p class="card-text">{{description}}</p> --}}
                    <p class="card-text">
                        {{post.description}}
                    </p>
                </div>
            </div>
        {{!-- {{/each}} --}}

    </div>

    {{> 'default/sidebar'}}
    <!-- Sidebar Widgets Column -->

</div>
<!-- /.row -->
