<div class="row" style="background-color: #fff; font-family: 'Montserrat'; text-transform: capitalize;">
    <!-- Blog Entries Column -->
    <div id="labelall">
        <p class="card-text">{{jenisJabatan.title}}</p>
    </div>
    <div class="row" style="padding: 30px 60px">
        {{{jenisJabatan.description}}}
    </div>
    <div class="row" style="padding: 30px 60px">
        <!-- Blog Post -->
        {{#each pengurus}}
            {{#ifCond ../jenisJabatan.slug '==' 'pengurus-pusat'}}
                {{#ifCond @index '==' 0}}
                <div class="col-md-12 text-center leader-pict">
                    <img src="{{this.file}}" width="20%" alt="" style="border-radius: 50%; margin-bottom:15px;">
                    <span class="tooltiptext">Berkarir Lebih Dari 25 Tahun Di Berbagai Perusahaan Infrastruktur Nasional Dan Multinasional, Heru Dewanto Berpengalaman Menangani Berbagai Proyek Infrastruktur Lintas Sector. Mulai Dari Proyek Rumah Susun, Manajemen Limbah Dan Air, Rel Kereta Api, Jalan Tol, LRT, Hingga Proyek Pembangkit Tenaga Listrik. Dalam Masa Kepemimpinannya Di Cirebon Power, Heru Dewanto Berhasil Membawa Konsorsium Multinasional Milik Indika Energy Itu Meraih 4 Penghargaan Nasional Dan Internasional. Infrastruktur Bukan Hal Yang Baru Bagi Heru Dewanto. Setelah Mengantongi 2 Gelar Master Dalam Bidang Transportasi Publik Dari Perkeretaapian Dari Perguruan Tinggi Di Austria Dan Inggris, Heru Dewanto Meraih Gelar Doktor Dari Universitas Indonesia Dalam Bidan Industry Kelistrikan.{{this.deskripsi}}</span>
                    <strong><h5 style="font-family: 'Montserrat';">{{this.nama}}</h5></strong>
                    <p>{{this.jabatan}}</p>
                </div>
                {{/ifCond}}
                {{#ifCond @index '>' 0}}
                    <div class="member-pict">
                        <img src="{{this.file}}" width="100%" alt="" style="border-radius: 50%; margin-bottom:10px;">
                        <span class="tooltiptext">Berkarir Lebih Dari 25 Tahun Di Berbagai Perusahaan Infrastruktur Nasional Dan Multinasional, Heru Dewanto Berpengalaman Menangani Berbagai Proyek Infrastruktur Lintas Sector. Mulai Dari Proyek Rumah Susun, Manajemen Limbah Dan Air, Rel Kereta Api, Jalan Tol, LRT, Hingga Proyek Pembangkit Tenaga Listrik. Dalam Masa Kepemimpinannya Di Cirebon Power, Heru Dewanto Berhasil Membawa Konsorsium Multinasional Milik Indika Energy Itu Meraih 4 Penghargaan Nasional Dan Internasional. Infrastruktur Bukan Hal Yang Baru Bagi Heru Dewanto. Setelah Mengantongi 2 Gelar Master Dalam Bidang Transportasi Publik Dari Perkeretaapian Dari Perguruan Tinggi Di Austria Dan Inggris, Heru Dewanto Meraih Gelar Doktor Dari Universitas Indonesia Dalam Bidan Industry Kelistrikan.{{this.deskripsi}}</span>
                        <strong><p>{{this.nama}}</p></strong>
                        <p>{{this.jabatan}}</p>
                    </div>
                {{/ifCond}}
            {{/ifCond}}
            {{#ifCond ../jenisJabatan.slug '!=' 'pengurus-pusat'}}
            <div class="member-pict">
                <img src="{{this.file}}" width="100%" alt="" style="border-radius: 50%; margin-bottom:10px;">
                <span class="tooltiptext">{{this.deskripsi}}</span>
                <strong><p>{{this.nama}}</p></strong>
                <p>{{this.jabatan}}</p>
            </div>
            {{/ifCond}}
        {{/each}}
    </div>
</div>
