<div class="row" style="background-color: #fff; font-family: 'Montserrat'; text-transform: capitalize;">
    <!-- Blog Entries Column -->
    <div id="labelall">
        <p class="card-text">{{jenisJabatan.title}}</p>
    </div>
    <div class="row" style="padding: 30px 60px">
        {{{jenisJabatan.description}}}
    </div>
    <div class="row" style="padding: 30px 60px">
        <!-- Blog Post -->
        {{#each pengurus}}
            {{#ifCond ../punyaKetua '==' true}}
                {{#ifCond @index '==' 0}}
                <div class="col-md-12 text-center leader-pict">
                    <img src="{{this.file}}" width="20%" alt="" style="border-radius: 50%; margin-bottom:15px;">
                    <span class="tooltiptext">{{this.deskripsi}}</span>
                    <strong><h5 style="font-family: 'Montserrat';">{{this.nama}}</h5></strong>
                    <p>{{this.jabatan}}</p>
                </div>
                {{/ifCond}}
                {{#ifCond @index '>' 0}}
                    <div class="member-pict">
                        <img src="{{this.file}}" width="100%" alt="" style="border-radius: 50%; margin-bottom:10px;">
                        <span class="tooltiptext">{{this.deskripsi}}</span>
                        <strong><p>{{this.nama}}</p></strong>
                        <p>{{this.jabatan}}</p>
                    </div>
                {{/ifCond}}
            {{/ifCond}}
            {{#ifCond ../punyaKetua '==' false}}
            <div class="member-pict">
                <img src="{{this.file}}" width="100%" alt="" style="border-radius: 50%; margin-bottom:10px;">
                <span class="tooltiptext">{{this.deskripsi}}</span>
                <strong><p>{{this.nama}}</p></strong>
                <p>{{this.jabatan}}</p>
            </div>
            {{/ifCond}}
        {{/each}}
    </div>
</div>
