    <div class="col-md-4 box" style="background-color: whitesmoke">
        <div class="card card-link rounded-0 border-0 img-hover-zoom" style="height: 380px">
            <img class="card-img img-fluid" style="object-fit: cover; filter: brightness(0.15);height: 100%;" src="/assets/img/Registrasi-STRI.jpg" alt="Bologna">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center overlayhovers">
                <h3 class="card-title banner">Registrasi STRI</h3>
                <p class="card-text banner">Cara Insinyur Profesional untuk registrasi STRI</p><br>
                <a class="text-white" href="/info/5ea070ff8ffe08448b1c79d1"><i>Klik disini</i></a>
            </div>
        </div>
        {{#each sidebarposts}}
        <a href="/{{status}}/{{this.slug}}">
            <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                <img class="card-img" src="{{this.file}}" style="object-fit: cover; height: 100%;" alt="">
                <div class="{{#moduloIf this.views 2 0}}card-img-overlaysright{{/moduloIf}}
                            {{#moduloIf this.views 2 1}}card-img-overlays{{/moduloIf}} 
                            justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="container ml-1">
                        <div class="labeltag-{{this.status}}">
                            <div id="{{this.status}}" >
                                <span class="ml-2 text-white"> {{this.status}} </span>
                            </div>
                            {{#ifCond this.status '==' 'Video'}}
                            <span>Engineering for Kids</span>
                            {{/ifCond}}
                        </div>
                        <h6 class="card-title news">{{this.title}}{{sidebarposts}}</h6>
                        <p class="text-card-content">{{this.introText}}</p>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
