<div class="container">
    <h1>Edit Post</h1>
    
    <div class="row p-4">
        <div class="col-md-10">
            <form action="/admin/posts/edit/{{post._id}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_id" value="{{post._id}}">
                
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Enter The Title" value="{{post.title}}">
                </div>
                <div class="form-group">
                    <label for="introText">Intro Text</label>
                    <input type="text" class="form-control" name="introText" id="introText" placeholder="Enter The Intro Text" value="{{post.introText}}">
                </div>
                <img src="{{post.file}}" alt="">
                <div class="form-group">
                    <label for="file">File Upload</label>
                    <input type="file" class="form-control" id="file" name="uploadedFile">
                </div>
                <div class="row">
                    <div class="form-group col md-5">
                        <img src="{{post.sponsor1}}" width="50%" alt=""><br>
                        <label for="sponsor1">Sponsor 1</label>
                        <input type="file" class="form-control" id="sponsor1" name="sponsor1">
                    </div>
                    <div class="form-group col md-5">
                        <img src="{{post.sponsor2}}" width="50%" alt=""><br>
                        <label for="sponsor2">Sponsor 2</label>
                        <input type="file" class="form-control" id="sponsor2" name="sponsor2">
                    </div>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select name="status" id="status" class="form-control">
                        <option value="{{post.status}}">{{post.status}}</option>
                        <option value="Public">Public</option>
                        <option value="Private">Private</option>
                        <option value="Draft">Draft</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="category" id="category" class="form-control">
                        {{#select post.category}}
                            {{#each categories}}
                                <option value="{{_id}}">{{title}}</option>
                            {{/each}}
                        {{/select}}
                                             
                    </select>
                </div>
                <div class="form-group">
                    <label for="videoLink">Youtube video Link (optional)</label>
                    <input type="text" class="form-control" name="videoLink" id="videoLink" value="{{post.videoLink}}">
                </div>
                <div class="form-group">
                    <label for="author">Author (optional)</label>
                    <input type="text" class="form-control" name="author" id="author" value="{{post.author}}">
                </div>
                <div class="form-check ml-3">
                    <label for="setAsBanner">
                    <input type="checkbox" class="form-check-input" name="setAsBanner" id="setAsBanner"{{#ifCond post.setAsBanner '==' true}} checked {{/ifCond}}>
                        Set Post as Banner</label>
                </div>
                <div class="form-check ml-3">
                    <label for="setAsRubix">
                    <input type="checkbox" class="form-check-input" name="setAsRubix" id="setAsRubix"{{#ifCond post.setAsRubix '==' true}} checked {{/ifCond}}>
                        Set Post as Rubix</label>
                </div>

                <div class="form-group">
                    <label for="description">Content</label>
                    <textarea name="description" id="description" class="form-control" placeholder="Enter your content here" rows="10">{{post.description}}</textarea>
                </div>
                <button class="btn btn-outline-success btn-lg" type="submit">Edit Post</button>
            </form>
        </div>
    </div>
</div>
