<div class="container">
    <div class="alert-secondary text-center">
        <h1>All POSTS</h1>
    </div>

    <table class="table table-bordered">
        <thead class="bg-dark text-center">
            <tr class="text-white">
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {{#each posts}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.status}}</td>
                <td><img src="{{this.file}}" width="100px" alt=""></td>
                <td>
                    <a href="/admin/posts/edit/{{this._id}}" class="btn btn-warning">Edit Post</a>
                    <a href="/admin/posts/delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure to delete this post ?');">Delete Post</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>