<div class="container">
    <h1>Edit Slider</h1>
    
    <div class="row p-4">
        <div class="col-md-10">
            <form action="/admin/slider/edit/{{slider._id}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_id" value="{{slider._id}}">
                <div class="form-group">
                    <label for="slideke">Slide Ke</label>
                    <input type="number" class="form-control" name="slideke" id="slideke" placeholder="Enter The Title" value="{{slider.slideke}}">
                </div>                
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Enter The Title" value="{{slider.title}}">
                </div>
                <img src="{{slider.file}}" alt="" width="100%">
                <div class="form-group">
                    <label for="file">File Upload</label>
                    <input type="file" class="form-control" id="file" name="uploadedFile">
                </div>
                <button class="btn btn-outline-success btn-lg" type="submit">Edit Slider</button>
            </form>
        </div>
    </div>
</div>
