<div class="container">
    <div class="alert-secondary text-center">
        <h1>All Slider</h1>
    </div>
    <a href="/admin/slider/create" class="btn btn-primary">Add New Slider</a>
    <table class="table table-bordered table-responsive">
        <thead class="bg-dark text-center">
            <tr class="text-white">
                <th>Slide Ke</th>
                <th>Title</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {{#each sliders}}
            <tr>
                <td>{{this.slideke}}</td>
                <td>{{this.title}}</td>
                <td><img src="{{this.file}}" width="100px" alt=""></td>
                <td>
                    <a href="/admin/slider/edit/{{this._id}}" class="btn btn-warning">Edit</a>
                    <a href="/admin/slider/delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure to delete this Slide ?');">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>