<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Preview Tampilan Post pada Sidebar berdasarkan Ter{{tipe}}</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatab" class="table display">
                        <thead class="text-primary">
                            <tr class="text-center">
                                {{!-- <th>Link</th> --}}
                                <th>Title</th>
                                <th>Position</th>
                                <th>Category</th>
                                <th>Views</th>
                                <th>Creation Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            {{#each posts}}
                            <tr>
                                {{!-- <td class="text-left">{{this.slug}}</td> --}}
                                <td class="text-left">{{this.title}}</td>
                                <td class="text-left">{{this.status}}</td>
                                <td class="text-left">{{this.category.title}}</td>
                                <td>{{this.views}}</td>
                                <td>{{this.creationDate}}</td>
                                {{!-- <td><img src="{{this.file}}" width="100px" alt=""></td> --}}
                                <td>
                                    <a href="/{{this.status}}/{{this.slug}}" target="_blank" class="fa fa-lg fa-eye"></a>
                                    <a href="/admin/posts/edit/{{this._id}}" class="fa fa-lg fa-edit"></a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Customize Sidebar Posts</h4>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="banyakSidebar">Jumlah Post yang ditampilkan pada Sidebar</label>
                        <input type="number" class="form-control" name="banyakSidebar" id="banyakSidebar" placeholder="{{lim}}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Set</button>
                </form>
                <form action="">
                    <div class="form-group">
                        <label for="tipepostsidebar">Tampilkan Post Di Sidebar Berdasarkan</label>
                        <select name="status" id="tipepostsidebar" class="form-control">
                            <option value="" selected disabled>-- Pilih Kategori --</option>
                            <option value="recent">Paling Baru</option>
                            <option value="populer">Paling Populer</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>